.link {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 329px;
    height: 48px;
    border-radius: 4px;
    border: none;
    padding: 0px 22.33px 0px 22.33px;

    box-sizing: border-box;
  
    color: var(--color-white);
  
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.21rem;
  
    cursor: pointer;
    text-decoration: none;
  
    &.register {
      background-color: var(--grey-1);
  
      &:hover {
        background-color: var(--grey-2);
      }
    }
  
    &.small {
      width: 68px;
      height: 40px;

      background-color: var(--grey-3);

      &:hover {
        background-color: var(--grey-2);
      }
    }
  }
  